.info {
        background-color:rgba(255, 14, 14, 0.7);
        color: bisque;
}
body {
    margin: 0px;
    padding: 0px;
}
#sidebar {
    background: #092b3dc7;/* rgba(10, 55, 80, 0.8); */
    width: 20%;
    height: 100%;
    position: absolute;
    display: block;
    left: -20%;
    top: 0px;
    transition: left 0.2s linear;
}
#APOD-form-content {
    text-align: center;
}
#start-date{
    padding-right: 1%;
}
#end-date{
    padding-left: 1%;
}
#sidebar.visible{
    left:0%;
    transition: left 0.2s linear;
    position: fixed;
}
ul {
    margin-top: 15%;
    padding: 0px;
    font-family:'Monotype Corsiva', 'Arial Narrow', Arial, sans-serif
}
ul li {
    list-style: none;
}

ul li a:hover{
    background-color: #1870a0;
    
}

ul li a{
    background-color: #0f3e57;
    color: beige;
    border-bottom: 1px solid black;
    display: block;
    padding: 010px;
    width: inherit;
    text-decoration: none;
    text-align: center;
}
#content{
    margin-left: 2%;
    /* margin-top: 2%; */
    padding-top: 2%;
    text-align: center;
    
}
#Image{
    width: 40%;
    display: none;
}

#Video{
    display: none;
}

#next, #prev {
    top: auto;
    padding-right: 0.5%; padding-left: 0.5;color: white;
    font-weight: bold;
    font-size: 50px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0; 
    display: none;
}

#next {
    float: right; 
}
#prev {
    float: left;
}

#next:hover, #prev:hover{
    background-color: rgba(6, 129, 109, 0.8);
}

#container {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    padding-left: 1%;
    padding-right: 1%;

}
#Details{
    background-color: rgba(255, 255, 255, 0.3);
    padding-left: 1%;
    padding-right: 1%;
}
#sidebar-btn{
    vertical-align: middle;
    width: 35px;
    height: 25px;
    margin: 2%;
    background-color: #1870a0;
    padding-top: 2px;
    padding-bottom: 2px;
    position: absolute;
    right: -60px;
    border-radius: 40%;    
}
#sidebar-btn span{
    height: 1px;
    width: 70%;
    margin: 3px;
    padding-bottom: 3px;
    display: block;
    background-color: aliceblue; 
}
#sidebar-btn span:nth-child(2){
    width: 55%;  
}
#sidebar-btn span:nth-child(3){
    width: 40%;  
}